
body{
    background-image: url("image2.png");
}
#pastuser{
    display: none;
}
p,#close{
    
    display: inline;
    color: aliceblue;

}

#div1,#div2,#div3,#dicarddiv,#form1,#passcheck{
    display: none;
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    
}
#box{
    background-color:  #f9f9f9;
    border: 3px double rgb(245, 61, 85) ;
    padding: 10px;
    width:30%;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: -2px 2px 8px 8px rgb(21, 25, 1);
}
#box1,#box2{
    font-size: x-large;
    text-shadow: 2px 10px 20px rgb(249, 127, 212);
    border-radius: 2px;
    color:rgb(24, 4, 252);
}
#cl{
    width:20%;
height: 20px;
background-color: antiquewhite;
text-shadow: 2px 10px 20px rgb(249, 127, 212);
color:brown;
font-weight: bolder;
border-radius: 10%;
}
#form{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: larger;
    border: 2px double rgb(221, 234, 234);
    width: 40%;
    height: auto;
    border-radius: 10px;
    background-color: rgba(0, 10, 10, 0.8);
    color: aliceblue;
    text-shadow: 2px 10px 20px gold;
    
    
}
input{
    width: 100%;
    height: auto;
    font-size: x-large;
    border: 2px double rgb(5, 98, 249);
    border-radius: 2px;
    box-shadow: -2px 2px 8px 8px rgb(84, 100, 5);
}

#sub{
    border-radius: 30%;
    height: auto;
    width: 50%;
    background-color: rgb(244, 143, 152);
    text-shadow: 2px 10px 20px gold;
    color: blue;
}
h1{
    color: rgb(246, 140, 140);
    
}
a{
    color: aqua;
    text-shadow: 2px 10px 20px gold;
}
h4{
    color: aliceblue;
    text-shadow: 2px 10px 20px gold;
}
#p1,#p2,#p3,#p4,#p5{
    text-shadow: 2px 10px 20px whitesmoke;
        
}

#closeb{
    font-weight: bold;
    border:1px solid rgb(255, 0, 234);
    background-color: antiquewhite;
    justify-content: end;
}

#closeb2{
    font-weight: bold;
    border:1px solid rgb(255, 0, 234);
    background-color: antiquewhite;
    right: 0;
    justify-content: end;
}
h2{
    font-size: 40px;
    font-weight: bolder;
    text-shadow: -2px 10px 15px goldenrod;
    color: rgb(165, 197, 229);

    }

#datadiv{
    display: flex;
    width: 30%;
    height: auto;
    background-color:antiquewhite;
    flex-direction: column;
}


h3{
    color:brown;
    font-weight: bold;
    text-shadow: -2px 10px 15px rgb(135, 85, 184);

}
#butt{
    display: flex;
    justify-content: space-between;
    height: auto;
    background-color: rgb(99, 193, 172);

}
#detl{
    background-color: rgb(218, 123, 210);
    font-size: larger;
    
}
#edit,#logout{
    height: 6%;
    margin: 3%;
}
#inpass{
    display: none;
    color: black;
    font-size: larger;
    margin-left: 30%;
}
#ippass{
    width: 40%;
}